<form action="/cart" method="POST">
    <button class="btn">Add to cart</button>
    <input type="hidden" name="prodId" value="<%= product._id %>">
    <input name="_csrf" type="hidden" value="<%= csrfToken %>">
</form>